
.barre{
    height:50px;
    background-color:rgb(71,221,255);
    top:0px;
    left:0px;
    position: relative;
    }

    .imglogo{
    height: 9%;
    width: 9%;
    }
 
.contact{
    display: inline-block;
    position: absolute;
    right:120px;
    top:10px;
    color:rgb(92,108,125);
}   
.accueil{
    display: inline-block;
    position: absolute;
    right:220px;
    top:10px;
    color:rgb(92,108,125);
}

.panier{
    display: inline-block;
    position: absolute;
    right:30px;
    top:10px;
    color:rgb(92,108,125);
}

h2{
text-align: center;
padding-top:5%;
color:rgb(248,207,64);
}

.caisse{
padding: 5%;
}

.histentreprise{
    height:100px; 
    width:80%;
    padding-left:25%;
    text-align:center;
}

strong{
color:rgb(71,221,255);
}

p{
color:rgb(92,108,125);
}