
.barre{
height:50px;
background-color:rgb(71,221,255);
top:0px;
left:0px;
position: relative;
}

.imglogo{
height: 9%;
width: 9%;
}
 
.contact{
display: inline-block;
position: absolute;
right:120px;
top:10px;
color:rgb(92,108,125);
}   
.accueil{
display: inline-block;
position: absolute;
right:220px;
top:10px;
color:rgb(92,108,125);
}
.panier{
    display: inline-block;
    position: absolute;
    right:30px;
    top:10px;
    color:rgb(92,108,125);
}



h2{
color:rgb(71,221,255);
text-align:center;
font-weight: bold;
}

p{
color:rgb(92,108,125);
text-align:center;
width:80%;
}

.imgright2{
    width:60%;
    }
