
.barre{
    height:50px;
    background-color:rgb(71,221,255);
    top:0px;
    left:0px;
    position: relative;
    }

    .imglogo{
    height: 9%;
    width: 9%;

    }
 
.contact{
    display: inline-block;
    position: absolute;
    right:20px;
    top:10px;
    color:rgb(92,108,125);
}   
.accueil{
    display: inline-block;
    position: absolute;
    right:200px;
    top:10px;
    color:rgb(92,108,125);
}

.image_principale{
   margin-left: 25% ;
    margin-top:10vh;
width: 50%;

}

.text{
text-align: center;
padding-top:5vh;
margin-left:20vw ;
margin-right: 20vw;
color:rgb(92, 108, 125);

}

h2{
color:rgb(71,221,255);
text-align:center;
padding-top: 5vh;

}

.list-group{
width: 70%;
margin-top:60% ;
margin-left: 10%;
}

.card{
height:80%;
padding-left:10% ;
padding-right:10%;
padding-bottom: 2%;
}

.bloc{
width: 100%;
margin-top:5%;


}

.article1{
background-color: rgb(248,207,64);
width: 70%;
margin-top:30%;
margin-left:20%;
margin-right:10% ;

}

.article2{
width:70%;
margin-top:10%;
margin-left:20%;
margin-right:10%;
}

.pied{
height:30px;
padding-top: 8%;

}

.carte{
width:100%;
border:1px solid black;
}

.adresse{
width:100%;
height:100%;
text-align:center;
padding:7%;
border:1px solid black;
background-color:rgb(248,207,64);
}
.lien{
    width:100%;
    height:100%;
    text-align:center;
    padding:7%;
    border:1px solid black;
    background-color:rgb(71,221,255);
   
}
.reseaux_sociaux{
    width:100% ;
    height:100%;
    border:1px solid black;

}
.icone{
width :20% ;
height: 20%;
text-align: center;
}